<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Email</title>
</head>
<body>
<form th:action="@{/email/send}" method="POST" th:object="${email}" enctype="multipart/form-data">
   <label for="email"></label>
   <input type="email"
          id="email"
          placeholder="receiver email"
          th:field="*{receiver}"
          required/>

   <label for="text"></label>
   <input type="text"
          id="text"
          th:field="*{text}"
          placeholder="text"
          required/>

   <label for="subject"></label>
   <input type="text"
          id="subject"
          th:field="*{subject}"
          placeholder="subject"
          required/>

   <label for="attachment"></label>
   <input type="file"
          id="attachment"
          th:field="*{attachment}"
            required/>

   <input type="submit"/>
</form>
</body>
</html>